.t-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sender {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  flex: 2;
  padding: 10px;
}

.receiver {
  flex: 1;
  font-family: Inter;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 200;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: grey;
  margin-top: 5px;
  padding-left: 50px;
}

.amount {
font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 550;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 5px;
  float: right;
}


.right-arrow {
  width: 30px;
  height: 30px;
  background-color: #DBFFD7;
  border-radius: 100%;
  border: 10px;
}

.left-arrow {
  width: 30px;
  height: 30px;
  background-color: #d7f3ff;
  border-radius: 100%;
  border: 10px;
}

.hover-effect-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hover-effect-card:hover {
  transform: scale(1.1); /* Scale the div on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow on hover */
}