/* App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.app-container {
  position: relative;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.bottom-nav a {
  text-decoration: none;
  color: white;
}

.bottom-nav a.active {
  font-weight: bold;
}

/* Add the following styles to App.css */

.page {
  padding: 20px;
}

.back-button {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #3498db;
}

.back-button:hover {
  text-decoration: underline;
}

.green-store {
  background-color: #8eff8e; /* Light green background for green stores */
}
